.page-wrapper {
  max-width: 970px;
  background-color: #dedede;
  margin: auto;
  box-shadow: 10px 10px 8px #888888;
  padding: 30px 15px;
  position: relative;
}

.dark-area {
  background-color: black
}

@media only screen and (max-width: 600px) {
  .page-wrapper {
    padding: 5px
  }
}
