.add-area {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.18);
  margin: auto;
}

.experience-wrapper {
  padding: 15px 30px;
  position: relative;
}

.experience-wrapper span {
  margin-left: 10px;
  font-size: 23px;
}

.experience-area {
  border-bottom: 2px solid rgb(222, 222, 222, 0.5)
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(222, 222, 222, .5)
}

.content-container p:nth-child(1) {
  min-width: 140px
}

#background-label {
  position: absolute;
  margin-left: 0;
  font-size: 14px;
  top: 5px;
  right: 5px;
  background-color: lightgray;
  padding: 3px;
  border-radius: 5px
}

.content-wrapper {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  align-items: center;
}

.button-wrapper{
  display: flex;
}

.radio-group {
  justify-content: flex-start !important;
}

#currentlyWorking {
  margin-left: 15px
}

#stillWorking {
  padding: 0
}


.experience-container {
  background-color: lightgray;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px
}

.experience-header {
  margin: 15px;
  display: flex;
}

.experience-header i {
  margin-left: 5px;
  cursor: pointer
}

.experience-content {
  background-color: white;
  margin: 0 15px 15px
}


/* Tips Area */

.tips-wrapper {
  height:  50vh;
  width: 50vw;
  max-width: 400px;
  position: absolute;
  box-shadow: #dedede;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  z-index: 99999;
  top: 60px;
  box-shadow: 5px 5px 5px 5px #888888;
  background-color: white;
}

#close-tips {
  position: absolute;
  cursor: pointer;
  right: 15px;
  top: 15px;
}

#tips {
  cursor: pointer;
  align-items: center;
  display: flex
}

/* Tips Area End */

@media only screen and (max-width: 600px) {
  .header-wrapper {
    padding: 3px !important
  }

  .header-wrapper div {
    padding-left: 5px
  }

  .button-container {
    min-width: unset
  }

  .tips-wrapper {
    width: 80vw
  }

  .experience-wrapper {
    padding: 5px 15px
  }


  .experience-container {
    margin: 0 3px;
    margin-bottom: 15px
  }

  .experience-content {
    margin: 0 10px 15px
  }


  #currentlyWorking {
  min-width: unset
  }

  #export-button {
    display: none;
  }

  #description-container {
    flex-direction: column;
    align-items: center;
  }

  #tips {
    align-self: baseline;
  }
}
