.header-wrapper {
  background-color: #ffffff;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: rgb(181, 173, 172) 3px solid;
}

.dark-header {
  background-color: #242624;
  color: white
}

.header-wrapper h2 {
  font-weight: 300
}

.header-wrapper h4 {
  font-weight: 300
}

.header-wrapper i {
  background-color: #dedede;
  border-radius: 50%;
  padding: 10px
}

.basic-info-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
  min-width: 320px;
  max-width: 400px;
  padding-bottom: 15px
}

.dark-basic-info-container {
  background-color: #242624;
  border-radius: 20px;
  margin-top: 10px
}

.dark-basic-info-container span {
  color: white !important
}
.dark-basic-info-container h3 {
  color: white !important
}

.basic-info-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  transition: all 0.5s
}

.basic-info-sections:hover {
  background-color: rgba(164, 155, 164, 0.44);
  border-radius: 15px
}

.button-container {
  display: flex;
  flex-direction: column
}

.basic-info-sections input {
  margin: 10px;
  padding: 5px;
  outline: none;
  border-radius: 10px;
  border-color: white;
  font-size: 16px;
  font-weight: 400;
  color: rgb(76, 78, 77);
  min-width: 180px
}

.buttons {
  justify-content: space-evenly;
}

.buttons:hover {
  background-color: unset
}


.basic-info-sections span {
  margin: 10px;
  padding: 5px;
  outline: none;
  border-radius: 10px;
  border-color: white;
  font-size: 16px;
  font-weight: 400;
  color: rgb(76, 78, 77)
}

.dark-basic-info-sections span {
  color: white
}


.error-message {
  margin: 10px;
  padding: 5px;
  color: red;
  font-size: 16px;
  font-weight: 100;
}


.basic-info-container h3 {
  margin: 10px;
  padding: 5px;
  outline: none;
  border-radius: 10px;
  border-color: white;
  font-weight: 500;
  color: rgb(76, 78, 77)
}

/* Toggler start */
.toggle-click-area {
  height: 40px;
  cursor: pointer;
  width: 45px
}

.toggle-container {
  height: 5px;
  width: 30px;
  background-color: #dedede;
  position: relative;
  z-index: 8888;
  margin-top: 30px;
  cursor: pointer;
  transition: all 1s;
  margin-left: 15px;
}

.slide-container {
  margin-left: 0
}

.toggle-button {
  top:-12px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  transition: all 1.5s
}

.toggle-button-dark {
  left:-15px;
}

.toggle-button-light {
  left: 15px;
  filter: invert(100%);
}
/* Toggler end */


#menu-icon{
  height: fit-content;
  width: fit-content;
}

@media only screen and (max-width: 600px) {
  .basic-info-container {
    width: 100%
  }

  .toggle-click-area {
    margin: auto;
  }

  #menu-icon {
    margin: auto;
  }

  .header-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .button-container {
    flex-direction: column;
    justify-content: center;
  }
}
